<app-top-bar></app-top-bar>
<div class="principal">
    <div class="tabela">
        <table datatable class="table table-bordered">
            <thead>
                <tr>
                <th>EDV</th>
                <th>Name</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ocorrencia of ocorrencias">
                  <td>{{ocorrencia.usuario.edv}}</td>
                  <td>{{ocorrencia.usuario.nome}}</td>
                  <td>{{ocorrencia.ocorrencias.nome}}</td>
                  <td>{{ocorrencia.dataEntrada | date: "dd/MM/yyyy" }}</td>
                  <td class="itens">
                    <a><img src="../../assets/icons/delete-svgrepo-com.svg" class="imgtab2" /></a>
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../../assets/icons/edit-pencil-svgrepo-com.svg" class="imgtab" /></a>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ocorrenci Modify</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <br>
          <h4>Name</h4>
          <input type="text" class="form-control" id="name" placeholder="New Name" />
          <br>
          <h4>Descrição</h4>
          <input type="text" class="form-control" id="description" placeholder="New description" />
          <br>
          <h4>Data de início</h4>
          <input type="date" class="form-control" id="datastart" placeholder="New start date" />
          <br>
          <h4>Data de fim</h4>
          <input type="date" class="form-control" id="dataend" placeholder="New end date" />
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>