.login{
    text-align: center;

}
.loginInput{
    size: 200px;
    margin-bottom: 1%;
}
.passwordInput{
    margin-bottom: 2%;
}
.sub{
    margin-top: 2%;
    margin-bottom: 0;
}
.link{
    color: gray;
    cursor: pointer;
}