<app-top-bar></app-top-bar>

<div class="titleRegister">
    <h1>Register</h1>
</div>

<div class="register">
   <div class="client">
    <form>
        <div class="inputsRegister">
            <input type="text" id="nome" placeholder="Nome" />
        </div>
 
        <div class="inputsRegister">
             <input type="text" id="phone" placeholder="Phone" />
         </div>
 
         <div class="inputsRegister">
             <input type="email" id="email" placeholder="E-mail" />
         </div>
 
         <div class="inputsRegister">
             <input type="text" id="login" placeholder="Login" />
         </div>
         
         
         <div class="inputsRegister">
             <input type="date" id="date" placeholder="Date of Birth" />
         </div>
 
         <div class="inputsRegister">
             <input type="password" id="password" placeholder="Password" />
         </div>
 
         <div class="inputsRegister">
             <input type="text" id="document" placeholder="Document" />
         </div>
 
    </form>
   </div>

   <div class="address">
    <form>
        <div class="inputsRegister">
            <input type="text" id="street" placeholder="Street" />
        </div>
 
        <div class="inputsRegister">
             <input type="text" id="postal_code" placeholder="Postal Code" />
         </div>
 
         <div class="inputsRegister">
             <input type="text" id="state" placeholder="State" />
         </div>
 
         <div class="inputsRegister">
             <input type="text" id="city" placeholder="City" />
         </div>
 
         <div class="inputsRegister">
             <input type="text" id="country" placeholder="Country" />
         </div>
 
    </form>
   </div>

    <div class="btnss">
        <div class="btnAddress1"><button class="btn">Cancel</button></div>
        <div  class="btnAddress2"><button class="btn" type="button" >Save Changes</button></div>
    </div>
</div>
